.parallax
    picture.parallax__layer.parallax__layer--sky
        source(srcset=require("images/content/welcome/parallax-1-2k.jpg") media="(min-width: 1920px)").parallax__img
        img(srcset=require("images/content/welcome/parallax-1.jpg")).parallax__img
    picture.parallax__layer.parallax__layer--mountains
        source(srcset=require("images/content/welcome/parallax-2-2k.png") media="(min-width: 1920px)").parallax__img
        img(srcset=require("images/content/welcome/parallax-2.png")).parallax__img
    picture.parallax__layer.parallax__layer--train
        source(srcset=require("images/content/welcome/parallax-3-2k.png") media="(min-width: 1920px)").parallax__img
        img(srcset=require("images/content/welcome/parallax-3.png")).parallax__img
    picture.parallax__layer.parallax__layer--grass
        source(srcset=require("images/content/welcome/parallax-4-2k.png") media="(min-width: 1920px)").parallax__img
        img(srcset=require("images/content/welcome/parallax-4.png")).parallax__img
